{% include 'partials/header.html' %}

<header class="bg-light text-center py-0 custom-header">
  <div class="container">
      <h1 class="mb-0">RoadTrip</h1>
  </div>
</header>

  <div class="container mt-5">
    <img src="/public/static/roadtrip.jpg" alt="Road Trip" class="img-fluid mb-4">
    <div class="row">
        <div class="col">
            <a href="/plan" class="btn btn-primary btn-block">Plan a Trip</a>
          </div>
          <div class="col">
            <a href="/see" class="btn btn-info btn-block">See My Trips</a>
          </div>
          <div class="col">
            <a href="http://127.0.0.1:4138" class="btn btn-warning btn-block" target="_blank">My Trip Statistics</a>
          </div>               
          <div class="col">
            <a href="/completed_trips" class="btn btn-success btn-block">See Completed Trips</a>
          </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  

  {% include 'partials/footer.html' %}