{% include 'partials/header.html' %}

<header class="bg-light text-center py-0 custom-header">
  <div class="container">
      <h1 class="mb-0">Trips Planned</h1>
  </div>
</header>

<div class="container mt-5">
  <table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Start</th>
            <th>Stop</th>
            <th>End</th>
            <th>Distance</th>
            <th>Duration</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for trip in trips %}
        <tr>
            <td>{{ trip[0] }}</td>
            <td>{{ trip[1] }}</td>
            <td>{{ trip[3] }}</td>
            <td>{{ trip[2] }}</td>
            <td>{{ trip[4] }}</td>
            <td>{{ trip[5] }}</td>
            <td>
                <a href="/view/{{ trip[0] }}" class="btn btn-primary">View</a>
                <a href="/delete/{{ trip[0] }}" class="btn btn-danger">Delete</a>
                <a href="/packing_list/{{ trip[0] }}" class="btn btn-info">Packing List</a>
                <a href="javascript:void(0);" class="btn btn-success" data-toggle="modal" data-target="#completeModal{{ trip[0] }}">Mark as Complete</a>

                <!-- Modal for Date Input -->
                <div class="modal fade" id="completeModal{{ trip[0] }}" tabindex="-1" role="dialog" aria-labelledby="completeModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="completeModalLabel">Mark Trip as Complete</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form action="/complete/{{ trip[0] }}" >
                          <div class="form-group">
                            <label for="completion-date">Completion Date</label>
                            <input type="date" class="form-control" id="completion-date" name="completion_date" required>
                          </div>
                          <button type="submit" class="btn btn-success">Submit</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
</div>

<div class="text-center">
    <a href="/plan" class="btn btn-primary btn-md">Plan a Trip</a>
</div>

{% include 'partials/footer.html' %}